extends layout

block content
 h1= title
 - let pet  = results
 div(class="container-fluid")
    div(class="row")
    each item in results
      div(class="col-sm-2") pet type:#{item.pet_type}, breed:#{item.breed}, cost:#{item.cost}
 br
       