body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:aqua;
}

.petAttr {
  background-color:goldenrod;
  width: 120px;
  margin-top: 15px;
 } 

 hr{
  color:darkred;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }


